@font-face {
    font-family: Heatwood;
    src: url(../fonts/Heatwood.ttf);

} 

@font-face {
    font-family: Oswald-Medium;
    src: url(../fonts/Oswald/Oswald-Medium.ttf); 
} 

@font-face {
    font-family: Oswald-Regular;
    src: url(../fonts/Oswald/Oswald-Regular.ttf); 
} 

@font-face {
    font-family: Oswald-SemiBold;
    src: url(../fonts/Oswald/Oswald-SemiBold.ttf); 
} 


